// @import "utils/utils";
// @import "components/components";
// @import "base/base";
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

$border: #e80d99;
$title: #f86e32;
$inside: #feffc6;
$header: 'Homemade Apple', cursive;
$body: 'Special Elite', cursive;

.card {
  width: 80vw;
  background-color: $inside;
  border: 10px dashed $border;
  display: flex;
  padding: 0 10px;
  margin: 50px;
  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  img {
    width: 80%;
    height: auto;
  }
}
.left {
  width: 45%;
}
.right {
  width: 55%;
}

h1{
  text-align: center;
  background-color: white;
  // outline-style: groove;
  // outline-width: 10px;
  // outline-color: white;
  border: 10px dashed black;
  width: auto;

}

h1, h2, h4 {
  font-family: $header;
}

h2, h4 {
  color: $title;
}

body {
  font-size: 30px;
  font-family: $body;
  background-image: url('/resources/img/bg.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4, ul, ol {
  margin-top: 0;
}

h2, p {
  margin-top: 10%;
}

#theo {
  background-image: url('/resources/img/theo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px dashed white;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  align-self: center;
  padding: 5px;
}

ul:nth-child(3){
  margin: 20px;
  display: flex;
  justify-content: center;
}

ul:nth-child(3) li{
  background-color: white;
  display: inline;
  border-bottom: 10px dashed white;
  padding: 10px 10px;
}

ul:nth-child(3) li:hover{
  background-color: $border;
  border-bottom: 10px dashed yellow;
  cursor: pointer;
}

p {
  text-decoration: underline;
}

@media screen and (max-width:1350px){
  .card h2 {
    font-size: 3vw;
  }
}

@media screen and (max-width:700px){
  h4 {
    margin: 0;
  }
  .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .card {
    h2{
      font-size: 30px;
    }
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}
